/* DESKTOP VIEW */

/* GLOBAL */

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
}

/* HEADER */

#logo {
    width: 80px;
    height: auto;
}


#header {
    font-size: 2rem;
}

#header a {
    color: white;
}

#header .navLinks a:hover {
    border-bottom: 2px solid white;
}
/* HOME PAGE */

#squadPic {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#cardContainer {
    gap: 2rem;
    padding: 1rem 10rem;
}

.cardImg {
    width: 50px;
    height: auto;
}

.card {
    align-items: center;
    padding: 0.5rem;
}

#cardContainer a {
    flex: 1;
    text-decoration: none;
    color: black;
}

/* SQUAD PAGE */

#squadCardContainer {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.playerCard,
.card-title  {
    font-size: 2rem;
}

.playerCardImg {
    width: 70%;
    margin-bottom: 0.5rem;
}

/* CONTACT PAGE */

#mapContainer {
    /* padding: 0rem 4rem; */
    padding: 2rem 8rem;
}

#mapContainer h1 {
    margin: 3rem;
}

#googleMap {
    width: 100%;
    height: 600px;
}

#contactDetailsContainer {
    background-color: rgb(231, 227, 227);
    border-radius: 5px;
    border-style: groove;
    
}

/* .contactDetails {
    text-align: center;
} */

/* FOOTER */

.socials h3 {
    margin-bottom: 0;
}

.socials img {
    width: 70px;
    height: auto;
}

.socialIcons {
    display: flex;
    gap: 2rem;
}

/* CSS for mobile below */
@media (max-width: 767px) {
    

    /* HEADER */

    #logo {
        width: 40px;
        height: auto;
    }

    #header button {
        border: 2px solid;
    }

    #header {
        font-size: 1rem;
    }

    /* HOME PAGE */

    #squadPicContainer {
        padding: 0;
    }

    #squadPic {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    #cardContainer {
        gap: 0.5rem;
        padding: 1rem;
    }

    .cardImg {
        width: 50px;
        height: auto;
    }

    .card {
        align-items: center;
        padding: 0.5rem;
    }

    #cardContainer a {
        flex: 1;
        text-decoration: none;
        color: black;
    }

    /* SQUAD PAGE */

    #squadCardContainer {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .playerCard {
        font-size: smaller;
    }

    .playerCardImg {
        width: 50%;
        margin-bottom: 0.5rem;
    }

    .card-title {
        font-size: 1rem;
    }

    #squadPageContent h1 {
        padding: 1rem;
    }

    /* CONTACT PAGE */

    #mapContainer {
        /* padding: 0rem 4rem; */
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #mapContainer h1 {
        margin: 0;
    }

    #googleMap {
        width: 100%;
        height: 300px;
        margin-top: 2rem;
    }

    #contactDetailsContainer {
        background-color: rgb(231, 227, 227);
        border-radius: 5px;
        border-style: groove;
        width: 90%;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    
    .contactDetails {
        text-align: center;
    }

    /* FOOTER */

    .socials h5 {
        margin-bottom: 0;
    }

    .socials img {
        width: 40px;
        height: auto;
    }

    .socialIcons {
        display: flex;
        gap: 1rem;
    }
}

